	<% provide(:title, @user.name) %>
	<div class="row">
		<aside class="span4">
			<section>
				<h1>
					<%= image_tag(@user.avatar_url, alt: @user.name, class: 'avatar') %>
					<%= @user.name %>
				</h1>
			</section>
		</aside>
	</div>

